<article class="media">
  <div>
    <p class="">
    <a class="is-size-4" href="{{link}}" target="_blank"> {{repo}} </a>
  {{link}}
</p>
  <p><strong>{{description}}</strong></p>
  <div class="m-2">
    <a class="href="{{link}}" target="_blank">
      <div class="button is-light" style="background-color: {{languageColor}};">
        Language: {{language}}
      </div>
    </a>
  </div>  </div>
</article>