<article class="box is-dark my-2">
  <div class="title">
    <a href="/{{username}}">{{name}} </a>
    <span>(www.github.com/{{username}})</span>
  </div>
  <p class="content">contact: <a href="{{email}}">{{email}}</a> | social: <a href="{{social}}">{{social}}</a>
  </p>
</article>